<div class="tab-content">
  {% for events in site.data.events %}
  <div role="tabpanel" class="tab-pane {% if forloop.first %}active in{% endif %}" id="seminar-{{events.year}}">
    {% for event in events.events %}
    <div class="container">
      <div class="row">
        <p>Date: {{event.date}} at {{event.start}}</br>
           Location: {{event.location}} Speaker:{{event.speaker}}</p>
        <p>Title: {{event.title}}</p>
        <h4>Abstract</h4>
        <p>{{event.abstract|markdownify}}</p>
      </div>  
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
