<!-- from booty http://www.bootply.com/111508 -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active in" id="my-pagination-content">
  </div>
</div>
<script>
    $('#event-tab a').click(function(e) {
      e.preventDefault();
      var url = $(this).attr("data-url");
      var pane = $(this);
      updatetab(url, pane);
      $('#event-tab a').removeClass("active");
      $(e).addClass("active");
    });
    updatetab($('#event-tab .active a').attr("data-url"), $('#event-tab .active a'));
</script> 
