<!-- from booty http://www.bootply.com/111508 -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active in" id="my-pagination-content">
  </div>
</div>
<script>
// $(document).ready(function() {
    $('#event-tab a').click(function(e) {
      e.preventDefault();
      var url = $(this).attr("data-url");
      var json = $(this).attr("json-url");
      //var href = this.hash;
      var pane = $(this);

      //ajax get from data-url convert md to html
      updatetab(url, pane, json);
    });
    // load first tab content
     updatetab($('#event-tab .active a').attr("data-url"), $('#event-tab .active a'), $('#event-tab .active a').attr("json-url"));
 // });
</script> 
