{% assign lecfolder="lectures/" %}
<style>
  .pagination>td>a,
  .pagination>td>a:focus {
    background-color: inherit;
  }
</style>
<div role="">
  <!-- Nav papignation-->
  <div role="tablist" id="event-tab">
      <!--<ul role="tablist" id="event-tab" class=" pagination pagination-sm" >--> <!--http://stackoverflow.com/a/19777253  -->
    <div  class=" ">
      {% assign char="A|B|C|D|E|F|G" |split:"|"%}
      {% assign MAXCOL= 10 %}
      {% assign i=0 %}
      {% for lecture in site.data.lectures reverse %}
      {% assign parentloop=forloop %}
      {% for lec in lecture.lecs %}
      {%capture id %}{{lecture.date | replace : '/','-'}}_{{forloop.index}}{% endcapture %}
      {%if forloop.length == 1%}
      {%capture date%}{{lecture.date| date: "%b, %d" }}{% endcapture %}
      {%else%}
      {% assign ch=char[forloop.index0]%}
      {%capture date %}{{lecture.date| date: "%b, %d"}}{{ch}}{% endcapture %}
      {%endif%}
      {% assign imod = i| modulo: MAXCOL  %}
      {%if imod == 0%}
      <tr>
      {%endif%}
        <td id="pg-{{id}}" role="presentation" class="{%if parentloop.first and forloop.first %}active{%endif%}   col-sx-2 col-md-1">
          <a href="#lecture-{{id}}" role="tab" data-url="{{lecfolder}}{{lec.url}}"  data-toggle="tab" class="small">
            {{date}}
          </a>
        </td>
      {%if imod==0%}
      </tr>
      {%endif%}
      {%capture i%}{{ i | plus: 1 }}{%endcapture%}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  <!-- Tab panes -->
  
</div>
