{% assign lecfolder="lectures/" %}
<style>
  .pagination>li>a,
  .pagination>li>a:focus {
    background-color: inherit;
  }
</style>
<div role="tappanel">
  <!-- Nav papignation-->
  <!--<ul role="tablist" id="event-tab" class=" pagination pagination-sm" >-->
  <!--http://stackoverflow.com/a/19777253  -->
  <ul role="tablist" id="event-tab" class="pagination small text-left">
    {% assign char="A|B|C|D|E|F|G" |split:"|"%} 
    {% capture nowunix %}{{'now' |date:'%s'}}{%endcapture%}
    {% assign nowunix=nowunix |plus:0%}
    {% assign i=-1 %} 
    {% assign starti=0 %}
    {% assign endi=0 %}
    {% assign activei=0 %}
    {% assign track=true %}
    <!-- To find the center (today or next to today or last day)-->
    {%for lecture in site.data.lectures reverse %}
    {%assign parentlooplast = forloop.last%}
    {%for lec in lecture.lecs %}
    {%capture i%}{{ i | plus: 1 }}{%endcapture%}
    {% capture dateunix %}{{lecture.date|date:'%s'}}{%endcapture%}
    {% assign dateunix=dateunix |plus:0%}
    i={{i}}  dateunix={{dateunix}} nowunix={{nowunix}}  
    {% assign diff=dateunix|minus:nowunix %}
    diff={{diff}} {{diff>0}}<br>
    {% if diff > 0 and track  %}
      Eureka!<br>
      {%assign activei=i%}
      {%assign track=false %}
      {% if i==0%}
        {%assign starti=i%}
      {%else%}
        hello start!<br>
        {%assign starti=i|minus: 1%}
      {%endif%}
      {% if parentlooplast and forloop.last %}
        {%assign endi=i%}
      {%else%}
        {%assign endi=i|plus:1%}
      {%endif%}
    {%endif%}
    {% endfor %}
    {% endfor %}
    {%if  !track %}
      {%assign starti=i%}
      {%assign endi=i%}
      {%assign activei=i%}
    {%endif%} 
    starti={{starti}}
    
    endi={{endi}}
    
    activei={{activei}}
    </ul></div>
