{% assign lecfolder="lectures/" %}
<style>
  .pagination>li>a,
  .pagination>li>a:focus {
    background-color: inherit;
  }
</style>
<script>
  // From https://github.com/kwangkim/jquery-bootpag/blob/master/lib/jquery.bootpag.js
  var tabsetting={
    maxvisible: 5;
  };
  var pagenumbers={
    start:1;
    end:1;
  }
</script>
<div role="tabpanel">
  <!-- Nav papignation-->
  <div class="text-center">
      <!--<ul role="tablist" id="event-tab" class=" pagination pagination-sm" >--> <!--http://stackoverflow.com/a/19777253  -->
      <ul role="tablist" id="event-tab" class="pager" >
      {% assign char="A|B|C|D|E|F|G" |split:"|"%}
      {% capture nowunix %}{{'now'|date:'%s'}}{%endcapture%}
      {% assign i=0 %}
      {% assign starti=0 %}
      {% assign activei=0 %}
      {% assign endi=0 %}
      {% assign foundactive=false%}
      {% for lecture in site.data.lectures reverse %}
      {% assign parentloop=forloop %}
      {% for lec in lecture.lecs %}
      {%capture dateunix%}{{lecture.date|date:'%s'}}{%endcapture%}
      {%capture id %}{{lecture.date | replace : '/','-'}}_{{forloop.index}}{% endcapture %}
      {%if forloop.length == 1%}
      {%capture date%}{{lecture.date| date: "%b, %d" }}{% endcapture %}
      {%else%}
      {% assign ch=char[forloop.index0]%}
      {%capture date %}{{lecture.date| date: "%b, %d"}}{{ch}}{% endcapture %}
      {%endif%}
      {% if dateunix>=nowunix and foundactive==false%}{%assign activei=i%}{% assign foundactive=true %}
        <li id="pg-{{id}}" role="presentation" class="active col-sx-2 col-md-2">
          <a href="#lecture-{{id}}" role="tab" data-url="{{lecfolder}}{{lec.url}}"  data-toggle="tab" class="small">
            {{date}}
          </a>
        </li>
      {%elsif foundactive==false and %}
        <li id="pg-{{id}}" role="presentation" class="active col-sx-2 col-md-2">
          <a href="#lecture-{{id}}" role="tab" data-url="{{lecfolder}}{{lec.url}}"  data-toggle="tab" class="small">
            {{date}}
          </a>
        </li>
      {%else%}
        <li id="pg-{{id}}" role="presentation" class="hide col-sx-2 col-md-2">
          <a href="#lecture-{{id}}" role="tab" data-url="{{lecfolder}}{{lec.url}}"  data-toggle="tab" class="small">
            {{date}}
          </a>
        </li>
      {%endif%}
      {%capture i%}{{ i | plus: 1 }}{%endcapture%}
      {% endfor %}
      {% endfor %}
      </ul>
  </div>
  <!-- Tab panes -->
  {%include lecture.html%}
</div>
