<!-- from booty http://www.bootply.com/111508 -->
<script type="text/javascript">
  $(document).ready(function() {
    function updatetab(url, pane, json) {
      // From http://stackoverflow.com/a/651735
      var ext = url.split('.').pop().toLowerCase();
      var ismd = true;
      if ($.inArray(ext, ['md', 'markdown', 'mdown', 'mkdn', 'mkd', 'mdtxt', 'mdtext']) == -1) {
        ismd = false;
      }
 
      $.get(url, function(data) {
        if (ismd) {
          $('#my-pagination-content').html(marked(data));
          MathJax.Hub.Queue(["Typeset", MathJax.Hub, "my-pagination-content"]);
        } else {
          $('#my-pagination-content').html(data);
          MathJax.Hub.Queue(["Typeset", MathJax.Hub, "my-pagination-content"]);
        }
        var data;
        var result;
        console.log("json:"=json);
        if (json !== "lectures/") {
          $.ajax({
            dataType: "json",
            url: json,
            data: data,
            success: function(data){
              console.log("data:"+data);
              result=JSON.parse(data);
              makerbutton(result);
              nsole.log("result:"+result);
            }
          });
        }
      });
      pane.tab('show');
    }
    $('#event-tab a').click(function(e) {
      e.preventDefault();
      var url = $(this).attr("data-url");
      var json = $(this).attr("json-url");
      //var href = this.hash;
      var pane = $(this);

      //ajax get from data-url convert md to html
      updatetab(url, pane, json);
    });
    // load first tab content
    updatetab($('#event-tab .active a').attr("data-url"), $('#event-tab .active a'), $('#event-tab .active a').attr("json-url"));
  });
</script>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active in" id="my-pagination-content">
  </div>
</div>
