<style>
@font-face{ 
    font-family: 'OpenSansRegular';
    src: url('qcc.cuny.edu/_common/fonts/opensans_light/OpenSans-Light-webfont.eot');
    src: url('qcc.cuny.edu/_common/fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('qcc.cuny.edu/_common/fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('qcc.cuny.edu/_common/fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
    	 url('qcc.cuny.edu/_common/fonts/opensans_light/OpenSans-Light-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#qccfooter {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid #DDD;
    background-color: #BACFDB;
    height: 100%;
    text-align:center;
    line-height:175%;
    font: OpenSansRegular, Arial, Helvetica, sans-serif;
    font-size:0.9em;
    font-style: normal;
    -webkit-font-smoothing: initial;
    
}
#qccfooter a {
    color: #808080;
    font-weight: bold;
    text-decoration: none;
}
#qccfooter a:hover {
    color: #808080;
    font-weight: bold;
    border-bottom: 1px dotted #999;
}                
</style>
<div id="qccfooter">
    <strong>222-05 56th Avenue Bayside, NY 11364 (718) 631-6262</strong> &#183; 
    <a href="http://www.qcc.cuny.edu/about/contactUs" title="link to the Contact Us page">Contact Us</a>
    <br />
    <a href="http://www.qcc.cuny.edu/publicSafety/emergencyClosingInfo" title="link to the Emergency/School Closing Information page">Emergency/School Closing Info</a> &#183; 
    <a href="http://www.cuny.edu/index.html" target="_blank" title="link to CUNY website">CUNY</a> &#183; 
    <a href="http://www.cuny.edu/website/privacy.html" target="_blank">Privacy Policy</a> &#183; 
    <a href="http://assistive.usablenet.com/tt/referrer" target="_blank" title="Text Only version of this page">Text Only Version</a> &#183; 
    <a href="http://www.browsealoud.com/page.asp?pg_id=80096" target="_blank" title="Make this website talk">Make This Website Talk</a>
</div>

