<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% for seminarsyear in site.data.seminars %}
      <li role="presentation" class="{%if seminarsyear.year==site.data.seminars[0].year %}active{%endif%}">
        <a href="#seminar-{{seminarsyear.year}}" aria-controls="{{seminarsyear.year}}}" role="tab" data-toggle="tab">
          {{seminarsyear.year}}}
        </a>
      </li>
    {% endfor %} 
  </ul>
  <!-- Tab panes -->
 {% include seminar.html %} 
</div>
