{% for events in site.data.events %}
<div class="tab-content">
    <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="seminar-{{events.year}}">
        {% for event in events.events %}
            <td>
                <p>
                <tr>
                    <td> Date:{{event.date}}</td><td> Location:{{event.location}}</td>   
                </tr>
                <tr>
                    <td>Title:{{event.title}}</td>
                </tr>
                <tr>
                    <td>Speaker:{{event.speaker}}</td>
                </tr>
                </p>
            </td>
            </br>
        {% endfor %}
    </div>
</div>
{% endfor %}
