<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% for year in site.data.seminars %}
      <p>year[0]:{{year[0]}}</p>
      <p>seminars[0]:{{site.data.seminars[0]}}</p>
      <li role="presentation" class="{%if false %}active{%endif%}">
        <a href="#seminar-{{year[0]}}" aria-controls="{{year[0]}}" role="tab" data-toggle="tab">
          {{year[0]}}
        </a>
      </li>
    {% endfor %} 
  </ul>
  <!-- Tab panes -->
 {% include seminar.html %} 
</div>
