
{% for events in site.data.events %}
<div class="tab-content">
    <div role="tabpanel" class="tab-pane {% if forloop.first %}active in{% endif %}" id="seminar-{{events.year}}">
        <p>
        {% for event in events.events %}
            <tr>
                <td> Date:{{event.date}} </td>
                <td>Location:{{event.location}} </td>   
                <td>Title:{{event.title}} </td>
                 <td>Speaker:{{event.speaker}}</td>
            </tr>
            </br>
        {% endfor %}
        </p>
    </div>
</div>
{% endfor %}
