{% for seminarsyear in site.data.seminars %}
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="seminar-{{seminarsyear.year]}}">
        {% for seminar in seminarsyear %}
            <td>
                <p>
                <tr>
                    <td>Date:{{seminar.date}}</td><td>Location:{{seminar.location}}</td>   
                </tr>
                <tr>
                    <td>Title:{{seminar.title}}</td>
                </tr>
                <tr>
                    <td>Speaker:{{seminar.speaker}}</td>
                </tr>
                </p>
            </td>
            </br>
        {% endfor %}
    </div>
</div>
{% endfor %}
