/*  Reset everything    */
* {
    margin:0;
    padding:0;
    font-size:100%;
}
/* was * { margin: 0; padding: 0; } */

/* ------------------------------------------------------------------ */

body {
    margin: 0 0 0;
    background: #FFF url('/_common/images/bg2.gif') repeat-x;
    font:normal 0.9em OpenSansRegular, Arial, Helvetica, sans-serif;
    /*
    font:normal 0.8em/175% "Trebuchet MS", Arial, Helvetica, sans-serif; /* was 12px "Trebuchet MS", Arial, Sans-Serif; */
    */
    color: #444;
    line-height:175%;
}

/*  --- Body Text Tags ---------------------------------------------------  */

p {
    margin:0 0 1em 0;
    line-height:150%;
}
ul {
    list-style:square outside none;
    margin:0 0 1.3em 35px;
}

a {
    color: #344F9E;
}
a:hover {
    color: #A0000E;
    text-decoration: none;
}
img {
    border: 0;
}

/* Template for Navigation/Page --------------------------------------------------- */

.wrap {
    width: 960px;
    margin: 0 auto;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    height: 100%;
}
.qccLogo {
    float: left;
    padding-top:25px;
    border:none;
}
.qccLogo img {
    border:none;
}

#navBar {
    height: 40px;
    margin: 0 auto;
    background: #BACFDB;
}

/* --- Main Navigation Menu ------------------------------------------------------  */
#menuNav {
    width: 960px;
    padding: 2px 0 0 0;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}
#menuNav li {
    display: inline;
}
#menuNav a {
    display: block;
    float: left;
    margin-left: 18px;
    margin-top: 2px;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    color: #192C62;
    font-weight: bold;
}
#menuNav a:hover {
    color: #FFF;
    background: #192c62;
}

/* --- END Main Navigation Menu --------------------------------------------------- */
#header {
    width: 960px;
    height: 110px;
    margin: -4px auto;
}

/* --- Quick Links ---------------------------------------------------------------  */
#menu {
    float: right;
    padding: 4px 0 0 0;
    margin: 4px 0 0 0;
    list-style: none;
    font-size: 12px;
}
#menu li {
    display: inline;
}
#menu a {
    display: block;
    float: right;
    margin-left: 6px;
    padding: 4px 4px 0 4px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}
#menu a:hover {
    color: #EEE;
    border-bottom: 1px solid #CCC;
}

#menu .main-nav-tab {
    color: #FFF;
    text-decoration: none;
}

#menu .main-nav-item {
    display: inline;
}

#menu .main-nav-dd {
    position: absolute;
    z-index:999;
    top: 28px;
    left: 20px;
    margin: 0;
    padding: 0;
    background-color: #4260b6;
    border-bottom: 4px solid #000;
    display: none;
}

#menu .main-nav-dd-column {
    width: 120px;
    margin: 0 auto;
    text-align:left;
    padding: 15px;
    border-left: 1px solid #ddd;
    float: left;
    *border-left: 0;
}

#menu .main-nav-dd-column:first-child {
    border-left: 0;
}
#menu .main-nav-item-active .main-nav-dd {
    display: block;
}
#menu .main-nav-item-active .main-nav-tab {
    background-color: #FFF;
    color: #f60;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* --- END Quick Links ---------------------------------------------------  */

#teaser {
    clear: both;
    height: 330px;
    background: #FFF url('/_common/images/teaserbg1.jpg') top repeat-x;
}
.bannerContent {
    width: 960px;
    margin: 0 auto;
    /* border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0; */
    height: 330px;
    background-color: #F8F8F8;
}
#bar {
    padding: 0;
    width: 960px;
    margin: 0 auto;
    border-bottom: 10px solid #BACFDB;
    clear: both;
    border-right: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
}

/* Home Page -----------------------------------------------------------    */
.colEvents {
    float: right;
    /* line-height:175%; */
    width: 215px;
    margin: 0;
    height:100%;
    text-align: left;
    padding: 0 6px;
}
.col {
    float: left;
    /* Qwidth: 225px; */
    margin: 0;
    text-align: left;
    padding: 8px;
    border-right: 1px solid #E0E0E0;
    line-height:175%;
}
.colmid {
    float: left;
    width: 450px;
    margin: 0 10px;
    text-align: left;
    padding: 8px;
    border-right: 1px solid #E0E0E0;
    line-height:175%;
}
.last {
    float: left;
    width: 220px;
    margin: 0;
    border: none;
    line-height:110%;
}

.first {
    width: 220px;
}

/* Internal Pages ----------------------------------------------------------    */

#footer {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid #DDD;
    background-color: #BACFDB;
    height: 100%;
    text-align:center;    
}
#footer a {
    color: #808080;
    font-weight: bold;
    text-decoration: none;
}
#footer a:hover {
    color: #808080;
    font-weight: bold;
    border-bottom: 1px dotted #999;
}

/* --- Additional Classes ---------------------------------------------------   */
.smallertext {
    font-size:10px;
}
.contactUs {
    background-color:#3652A4;
    color:#FFF;
}
.ClearFix:after {
    content:"&nbsp;";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/* Sidebar Menu ------------------------------------------------------    */

ul.sidebarMenu2 {
    list-style:none;
    width:210px;
    padding:0;
    margin:0;
}
.sidebarMenu2 li {
    padding: 6px;
    border: 1px solid #ddd;
    margin: 8px auto;
    background-color: #344f9c;
    line-height:125%;
}
.sidebarMenu2 li a {
    width:100%;
    display:block;
    text-decoration:none;
    font-weight:bold;
    font-size: 12px;
    color:#ffffff;
}
ul.sidebarMenu2 li:hover {
    background-color: #192c62;
}

ul.sidebarMenu2p {
    list-style:none;
    width:185px;
    padding:0;
    margin:0;
}
.sidebarMenu2p li {
    padding: 6px;
    border: 1px solid #ddd;
    margin: 8px auto;
    background-color: #eb0000;
    line-height:125%;
}
.sidebarMenu2p li a {
    width:100%;
    display:block;
    text-decoration:none;
    font-weight:bold;
    font-size: 12px;
    color:#ffffff;
}
ul.sidebarMenu2p li:hover {
    background-color: #821010;
}

ul.sidebarMenu99 {
    list-style:none;
    width:210px;
    padding:0;
    margin:0;
}
.sidebarMenu99 li {
    padding: 6px;
    border: 1px solid #dddddd;
    margin: 8px auto;
    background-color: #bb0000;
    line-height:125%;
}
.sidebarMenu99 li a {
    width:100%;
    display:block;
    text-decoration:none;
    font-weight:bold;
    font-size: 12px;
    color:#ffffff;
}
ul.sidebarMenu99 li:hover {
    background-color: #9D2900;
}

/* END Sidebar Menu ----------------------------------------------------- */

.horizontalList {
    list-style-type: none;
    display:block;
    padding: 0px;
    margin: 0px;
    width:900px;
}
.horizontalList li {
    list-style:inline;
    display:block;
    float:left;
    margin:0 10px .5em .5em;
    border:0;
    border-right:thin solid #ccc;
    padding:0 .5em 0 0;
}

.roundBox {
    border: 1px solid #ddd;
    padding:5px;
    border-radius:15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.roundBox2 {
    background-color: #eee;
    padding:5px;
    border: 1px solid #ddd;
    border-radius:15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.roundGreyBox {
    background-color:#eee;
    padding:5px;
    border: 1px solid #ddd;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.roundGreyBox2 {
    background-color:#eee;
    padding:5px;
    border: 1px solid #ddd;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.roundedDIV {
    margin: 20px 0;
    padding: 10px 20px;
    background: #fff5e8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}    
.roundedDIV2 {
    margin: 20px 0;
    padding: 10px 20px;
    background: #F2F2F2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
