<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react-with-addons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/lecbuttons.js"></script>
<script src="js/site.js"></script>
<script  src="js/rbutton.js"></script>

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="js/updatetab.js"></script>
<!--<script src="http://cdn.ztx.io/strapdown/strapdown.min.js"></script> -->
<script type="text/x-mathjax-config">
// http://docs.mathjax.org/en/latest/tex.html
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
  jax: ["input/TeX"],
  tex2jax: {
    displayMath: [ ['$$','$$'], ["\\\\[","\\\\]"] ],
    inlineMath: [['$','$'], ['\\\\(','\\\\)']],
    processEscapes: false
  }
});
// http://kerzol.github.io/markdown-mathjax/editor.html
marked.setOptions({
  renderer: new marked.Renderer(),
  gfm: true,
  tables: true,
  breaks: false,
  pedantic: false,
  sanitize: false, // IMPORTANT, because we do MathJax before markdown,
                   //            however we do escaping in 'CreatePreview'.
  smartLists: true,
  smartypants: false
});
</script>
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
  {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
  <div id="main">
    <nav>
      <ul class="text-left inlineblock">
        <li id="committee-name" class="toptitle">{{site.course.semester}}<br>{{site.course.short}}</li>
      </ul>
      <ul class="inlineblock">
        {% for node in site.posts reversed %}
         {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
         <li class="p-{{id}} text-center"><a class="navscroller" href="#{{id}}">{{node.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {{content}}
    
  </div>

</body>
</html>
